/** sirve para añadir estilos a la pagina*/
*{
    padding: 0;
    margin: 0;
}
/** indica los estilos que se usa en la clase*/
.fondo{
    background-color: aquamarine;
}
/* estilo para el header*/
.hero{
    background-image: linear-gradient(120deg,rgba(155,53,241, 0.5), rgba(231,96,182,0.8)),
     url("img/hacker1.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*position: relative;*/
    overflow: hidden;
}
/* estilos  al div contenedor de los h1 y h1 de los titulos*/
.texto-hero{
    color: antiquewhite;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo1{
    font-size: 60px;
    text-shadow: 0 0 15px black; 
}

.titulo2{
    font-size: 45px;
    text-shadow: 0 0 15px blue;
}

/* Fin seccion hero*/
/* Seccion Info*/
.info{
    background-color: rgb(1, 147, 135);
    color: rgb(2, 54, 106);
}

.contenedor{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

.titulo-info{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
/* Fin seccion info*/
/*Seccion Cards*/
.contenedor-card{
    display: flex;
    width: 100;
    justify-content: space-evenly;
}
.card{
    width: 25%;
    text-align: center;
    box-shadow: 0 0 5px 0 black;
    border-radius: 10px;
    background-color: rgb(224, 220, 220);
}

.card:hover{
    box-shadow: 0 0 10px 0 black;
    transform: scale(1.1);
    transition: transform 0.36s;
}
/* todas las etiquetas i dentro de la clase card obtienen estilos*/
.card i{
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.card h3{
    padding-top: 25px;
    padding-bottom: 10px;
}

.card p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: justify;
}

.boton{
    background: transparent;
    background-color: rgb(0, 4, 255);
    border: 1px solid white;
    color: white;
    padding: 20px 10px;
    display: inline-block;
    width: 49%;
    margin-bottom: 25px;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 3px;
}

.boton:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

.margin-icon{
    margin-top: 25px;
}

/*Fin seccion Cards*/
/* seccion galeria*/
/* fin seccion galeria*/

.contenedor-img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 35px;
    display: block;
    box-shadow: 0 0 10px 0 black;
    cursor: pointer;
    overflow: hidden;
}

.galeria{
    background-color: darkcyan;
}

/* seccion contactos*/
.contacto{
    background-color: rgb(184, 83, 83);
    color: rgb(238, 238, 238);
    text-shadow: 0 0 10px rgb(255, 0, 0);
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.input{
    background: transparent;
    border: 0;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid whitesmoke;
    font-size: 60%;
}

.input::placeholder{
    color: rgb(255, 255, 255);
    font-family:sans-serif;
    font-weight: 900; 
}

.input-ancho{
    width: 49%;
    margin-bottom: 30px;
    display: inline-block;
    height: 30px;
}

.textarea-ancho{
    width: 99%;
    margin-bottom: 15px;
}
/* fin seccion contactos*/

.nav{
    background-color: rgb(57, 40, 40);
    list-style-type: none;
    width: 100%;
    position: fixed;
}

.nav li{
    float: left;
}

.nav li a{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

.nav li a:hover{
    background-color: azure;
    color: black;
}

.footer{
    background-color: aquamarine;
    color: red;
}

.footer p{
    font-size: 25px;
}